.titulo_pag{
	margin-bottom: 5px; 
	margin-top: 5px;
}
.formulario{
	display:flex;
	justify-content:center;
}
.content{
	text-align: center;
	text-decoration: none;
	margin-bottom: 200px;
}
.format{
	text-decoration: none;
	color: rgb(210,105,30);
}
#header{
	width: 100%;
	height: 200px;
}
#footer{
	text-decoration: none;
	width: 100%;
}
.add_button_border{
	border: double;
	border-color: rgb(210,105,30);
}
.add_button_field{
	margin-top: 8px;
	text-decoration: none;
	text-align: center;
	color:rgb(210,105,30);
}
.tabela_usuarios{
	margin-left: 500px;
}
.tabela_pags{
	margin-left: 600px;
}
.tabela_adm{
	margin-left: 590px;
	border-color:rgb(210,105,30);
}
.titulo{
	text-align: center;
	color: rgb(210,105,30);
}
#logo{
	float: left;
	margin: 10px;
	width: 80px;
	height: 80px;
}
#menu{
	float: right;
	margin-right: 10px;
	border: double;
	border-color:rgb(210,105,30); 
}
#direitos{
	text-align: center;
	text-decoration: none;
	color: rgb(210,105,30);
	width: 100%;
}
.link{
	text-decoration: none;
	color: rgb(210,105,30); 
}
.dados{
	height: 25px;
}
#tituloc{
	text-align: center;
	color: rgb(210,105,30);
	margin-right: 100px;
}
#button{
	margin-left: 15px;
}
*{
	background-image: url("img/background.png");
	background-position:bottom;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}